extends layout.pug


block content
  h3 将修改#{email}账户的密码
  form(action="" method="post")
    div 输入你的密码
    div: input(type="password" name="password")
    div 再次输入你的密码
    div: input(type="password" name="password2")
    button Submit
