extends layout.pug

//- 发贴页面

block content
  if isLogin
    h2 发贴
    form(action='/post' method='POST')
      .mb-3
        label.form-label(for='exampleFormControlInput1') 标题
        input.form-control(type='text' name='title' placeholder='标题')
      .mb-3
        label.form-label(for='exampleFormControlTextarea1') 内容
        textarea.form-control(rows='5' name='content' placeholder='内容')
      .mb-3
        button(type="submit").btn.btn-primary 发贴

  else
    p 未 #[a(href="login") 登陆]，不能发贴。
