extends layout.pug

block content
  h2 注册
  form(action='/register' xenctype="multipart/form-data" method='POST')
    div
      | Username:
      br
      input(type='text' name='name')
    div
      | Email:
      br
      input(type='text' name='email')
    div
      | Password:
      br
      input(type='password' name='password')
    div
      | Avatar:
      br
      input(type='file' name='xxx')
      input(type="hidden" name="avatar")

    button 注册

  script.
    $('[type="file"]').on('change', async function(e) {
      var file = this.files[0]
      var fd = new FormData()
      fd.append('file', file)


      var data = await $.ajax('/upload', {
        method: 'post',
        data: fd,
        processData: false,
        contentType: false,
      })

      console.log(data)

      $('[type="hidden"]').val(data[0])
    })
